/* Social Media Icons */
.social-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #2a3f5f;
    /* Deep blue color */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* Additional styling for hover effect */
  .social-button:hover {
    opacity: 0.9;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .instagram {
    background-color: #e4405f;
  }
  
  .github {
    background-color: #333; /* GitHub's color theme */
  }
  
  /* Hover effect for the button */
  .github:hover {
    background-color: #24292e;
  }
  