footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ff7c00;
  }

/* Social Media Icons */
#social-media {
    text-align: center;
    padding: 20px;
    background-color: #f5f7fa; /* Adjust the background color as needed */
}

.social-icons {
    display: inline-flex;
    gap: 20px; /* Adjust the space between icons as needed */
    justify-content: center;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Circle size */
    height: 50px; /* Circle size */
    border-radius: 50%; /* Makes the link a circle */
    overflow: hidden; /* Ensures nothing spills outside the circle */
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
}

.social-icon img {
    width: 100%;
    height: auto; /* Keeps the aspect ratio of the image */
}
